# Forcasting Sticker Sales 

<h1 style="font-family: 'poppins'; font-weight: bold; color: Green;">üë®‚ÄçüíªAuthor: Sumit Sharma</h1>

[![GitHub](https://img.shields.io/badge/GitHub-Profile-blue?style=for-the-badge&logo=github)](https://github.com/Sumit444-commits) 
[![Kaggle](https://img.shields.io/badge/Kaggle-Profile-blue?style=for-the-badge&logo=kaggle)](https://www.kaggle.com/mepinnacle) 
[![LinkedIn](https://img.shields.io/badge/LinkedIn-Profile-blue?style=for-the-badge&logo=linkedin)](https://www.linkedin.com/in/sumit-sharma-a0b2c7/)  

[![Facebook](https://img.shields.io/badge/Facebook-Profile-blue?style=for-the-badge&logo=facebook)](https://www.facebook.com/profile.php?id=61563105540020) 
[![portfolio](https://img.shields.io/badge/Portfolio-Profile-blue?style=for-the-badge&logo=portfolio)](https://sumit-portfolio.free.nf/) 
[![Email](https://img.shields.io/badge/Email-Contact%20Me-red?style=for-the-badge&logo=email)](mailto:sumit8444061@gmailcom)

## Dataset Description
For this challenge, you will be predicting multiple years worth of sales for various Kaggle-branded stickers from different fictitious stores in different (real!) countries. This dataset is completely synthetic, but contains many effects you see in real-world data, e.g., weekend and holiday effect, seasonality, etc.

Good luck!

### Files
`train.csv` - the training set, which includes the sales data for each date-country-store-item combination.

`test.csv` - the test set; your task is to predict the corresponding item sales `(num_sold)` for each date-country-store-item combination. Note the Public leaderboard is scored on the first year of the data, and the Private on the remaining.

`sample_submission.csv` - a sample submission file in the correct format

## Libraries Used
- Pandas
- Numpy
- Matplotlib
- Seaborn
- Sklearn

In [1]:
# importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Loading the data from files

In [2]:
# loading the train.csv file
train_df = pd.read_csv('./Data/train.csv')
train_df.head()

   id        date country              store             product  num_sold
0   0  2010-01-01  Canada  Discount Stickers   Holographic Goose       NaN
1   1  2010-01-01  Canada  Discount Stickers              Kaggle     973.0
2   2  2010-01-01  Canada  Discount Stickers        Kaggle Tiers     906.0
3   3  2010-01-01  Canada  Discount Stickers            Kerneler     423.0
4   4  2010-01-01  Canada  Discount Stickers  Kerneler Dark Mode     491.0

In [3]:
# loading the test.csv file
test_df = pd.read_csv('./Data/test.csv')
test_df.head()

       id        date country              store             product
0  230130  2017-01-01  Canada  Discount Stickers   Holographic Goose
1  230131  2017-01-01  Canada  Discount Stickers              Kaggle
2  230132  2017-01-01  Canada  Discount Stickers        Kaggle Tiers
3  230133  2017-01-01  Canada  Discount Stickers            Kerneler
4  230134  2017-01-01  Canada  Discount Stickers  Kerneler Dark Mode

In [4]:
# loading the train.csv file
submission_df = pd.read_csv('./Data/sample_submission.csv')
submission_df.head()

       id  num_sold
0  230130       100
1  230131       100
2  230132       100
3  230133       100
4  230134       100